.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card {
    width: 100%;
  }
  
  .text-dark {
    color: #333;
  }
  
  .text-muted {
    color: #999;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  button[type="submit"] {
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
  }
  
  a .text-danger {
    color: red;
  }
  